@model DojoSurvey.Models.Survey
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey with models</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Submitted Info</h1>
                <p>Name: @Model.YourName</p>
                <p>Dojo Location: @Model.DojoLocation</p>
                <p>Favorite Language: @Model.FavoriteLanguage</p>
                <p>Comment: @Model.Comment</p>
            </div>
        </div>
    </div>
</body>
</html>